@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  color: #023047;
}

.button {
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.button:hover {
  border-bottom: 2px solid #8ecae6;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button.active {
  border-bottom: 2px solid #219ebc;
}

.controlButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #219ebc;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.controlButton:hover {
  background-color: #219ebc;
}

.controlButton.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
