@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
}

.button {
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover {
  border-bottom: 2px solid rgb(247, 128, 8);
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button.active {
  border-bottom: 2px solid rgb(247, 128, 8);
}

.controlButton {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgb(247, 128, 8);
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.controlButton:hover {
  background-color: rgb(247, 128, 8);
  color: white;
}

.controlButton.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
