@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  color: #023047;
  font-family: "Permanent Marker", cursive;
}

.button {
  padding: 0.5rem 1rem;
  transition: all 0.2s;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.button:hover,
.button.active {
  border-bottom: 2px solid #219ebc;
}

.controlButton {
  padding: 10px 14px;
  border: 1px solid var(--text-color);
  border-radius: 100%;
  transition: all 0.2s;
}

.controlButton:hover {
  transform: scale(1.05);
}

.button.disabled,
.controlButton.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* LIGHT MODE */
:root {
  --bg-color: #ffffff;
  --text-color: #023047;
}

/* DARK MODE */
.dark {
  --bg-color: #023047;
  --text-color: #e6edf3;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.button,
.controlButton {
  color: var(--text-color);
}
